.form-row {
    display: flex;
    margin-bottom: .5rem;
}
.form-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}

.form-item:first-child {
    margin-left: 0;
}
.form-item-no-grow {
    flex-grow: 0;
}
.form-item > label {
    font-size: 0.8rem;
    margin-bottom: .25rem;
    margin-left: .25rem;
}
.form-item input, .form-item select , .form-item textarea {
    height: 2rem;
    padding: 0.25rem .5rem;
    border-radius: .25rem;
    border: 1px solid black;
    background-color: cadetblue;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Gothan Rounded';
    outline:  none;
}

.form-item textarea {
    height: 100%;
    resize: none;
}
.form-item select option {
    background-color: black;
}
.filepond--root {
    font-family: 'Gothan Rounded';
    margin-bottom: 0;
}

.filepond--panel-root {
    background-color: blanchedalmond;
    border: 1px solid black;
}

.filepond--drop-label {
    color: white ;
    font-size: inherit;
}
.form-row-end {
    justify-content: flex-end;
}

