<h2>New Author</h2>
<form action="/books" method="post" enctype="multipart/form-data">
     <%- include('_form_fields.ejs') %>
    <a href="/books">cancel</a>
    <button type="submit">Submit</button>
</form>